.card0000 {
  background-position: 0px 0px;
}

.card0001 {
  background-position: 0px -80px;
}

.card0002 {
  background-position: 0px -160px;
}

.card0003 {
  background-position: 0px -240px;
}

.card0004 {
  background-position: 0px -320px;
}

.card0005 {
  background-position: 0px -400px;
}

.card0006 {
  background-position: 0px -480px;
}

.card0007 {
  background-position: 0px -560px;
}

.card0008 {
  background-position: 0px -640px;
}

.card0009 {
  background-position: 0px -720px;
}

.card0010 {
  background-position: 0px -800px;
}

.card0011 {
  background-position: 0px -880px;
}

.card0012 {
  background-position: 0px -960px;
}

.card0013 {
  background-position: 0px -1040px;
}

.card0014 {
  background-position: 0px -1120px;
}

.card0015 {
  background-position: 0px -1200px;
}

.card0016 {
  background-position: 0px -1280px;
}

.card0100 {
  background-position: -80px 0px;
}

.card0101 {
  background-position: -80px -80px;
}

.card0102 {
  background-position: -80px -160px;
}

.card0103 {
  background-position: -80px -240px;
}

.card0104 {
  background-position: -80px -320px;
}

.card0105 {
  background-position: -80px -400px;
}

.card0106 {
  background-position: -80px -480px;
}

.card0107 {
  background-position: -80px -560px;
}

.card0108 {
  background-position: -80px -640px;
}

.card0109 {
  background-position: -80px -720px;
}

.card0110 {
  background-position: -80px -800px;
}

.card0111 {
  background-position: -80px -880px;
}

.card0112 {
  background-position: -80px -960px;
}

.card0113 {
  background-position: -80px -1040px;
}

.card0114 {
  background-position: -80px -1120px;
}

.card0115 {
  background-position: -80px -1200px;
}

.card0116 {
  background-position: -80px -1280px;
}

.card0200 {
  background-position: -160px 0px;
}

.card0201 {
  background-position: -160px -80px;
}

.card0202 {
  background-position: -160px -160px;
}

.card0203 {
  background-position: -160px -240px;
}

.card0204 {
  background-position: -160px -320px;
}

.card0205 {
  background-position: -160px -400px;
}

.card0206 {
  background-position: -160px -480px;
}

.card0207 {
  background-position: -160px -560px;
}

.card0208 {
  background-position: -160px -640px;
}

.card0209 {
  background-position: -160px -720px;
}

.card0210 {
  background-position: -160px -800px;
}

.card0211 {
  background-position: -160px -880px;
}

.card0212 {
  background-position: -160px -960px;
}

.card0213 {
  background-position: -160px -1040px;
}

.card0214 {
  background-position: -160px -1120px;
}

.card0215 {
  background-position: -160px -1200px;
}

.card0216 {
  background-position: -160px -1280px;
}

.card0300 {
  background-position: -240px 0px;
}

.card0301 {
  background-position: -240px -80px;
}

.card0302 {
  background-position: -240px -160px;
}

.card0303 {
  background-position: -240px -240px;
}

.card0304 {
  background-position: -240px -320px;
}

.card0305 {
  background-position: -240px -400px;
}

.card0306 {
  background-position: -240px -480px;
}

.card0307 {
  background-position: -240px -560px;
}

.card0308 {
  background-position: -240px -640px;
}

.card0309 {
  background-position: -240px -720px;
}

.card0310 {
  background-position: -240px -800px;
}

.card0311 {
  background-position: -240px -880px;
}

.card0312 {
  background-position: -240px -960px;
}

.card0313 {
  background-position: -240px -1040px;
}

.card0314 {
  background-position: -240px -1120px;
}

.card0315 {
  background-position: -240px -1200px;
}

.card0316 {
  background-position: -240px -1280px;
}

.card0400 {
  background-position: -320px 0px;
}

.card0401 {
  background-position: -320px -80px;
}

.card0402 {
  background-position: -320px -160px;
}

.card0403 {
  background-position: -320px -240px;
}

.card0404 {
  background-position: -320px -320px;
}

.card0405 {
  background-position: -320px -400px;
}

.card0406 {
  background-position: -320px -480px;
}

.card0407 {
  background-position: -320px -560px;
}

.card0408 {
  background-position: -320px -640px;
}

.card0409 {
  background-position: -320px -720px;
}

.card0410 {
  background-position: -320px -800px;
}

.card0411 {
  background-position: -320px -880px;
}

.card0412 {
  background-position: -320px -960px;
}

.card0413 {
  background-position: -320px -1040px;
}

.card0414 {
  background-position: -320px -1120px;
}

.card0415 {
  background-position: -320px -1200px;
}

.card0416 {
  background-position: -320px -1280px;
}

.card0500 {
  background-position: -400px 0px;
}

.card0501 {
  background-position: -400px -80px;
}

.card0502 {
  background-position: -400px -160px;
}

.card0503 {
  background-position: -400px -240px;
}

.card0504 {
  background-position: -400px -320px;
}

.card0505 {
  background-position: -400px -400px;
}

.card0506 {
  background-position: -400px -480px;
}

.card0507 {
  background-position: -400px -560px;
}

.card0508 {
  background-position: -400px -640px;
}

.card0509 {
  background-position: -400px -720px;
}

.card0510 {
  background-position: -400px -800px;
}

.card0511 {
  background-position: -400px -880px;
}

.card0512 {
  background-position: -400px -960px;
}

.card0513 {
  background-position: -400px -1040px;
}

.card0514 {
  background-position: -400px -1120px;
}

.card0515 {
  background-position: -400px -1200px;
}

.card0516 {
  background-position: -400px -1280px;
}

.card0600 {
  background-position: -480px 0px;
}

.card0601 {
  background-position: -480px -80px;
}

.card0602 {
  background-position: -480px -160px;
}

.card0603 {
  background-position: -480px -240px;
}

.card0604 {
  background-position: -480px -320px;
}

.card0605 {
  background-position: -480px -400px;
}

.card0606 {
  background-position: -480px -480px;
}

.card0607 {
  background-position: -480px -560px;
}

.card0608 {
  background-position: -480px -640px;
}

.card0609 {
  background-position: -480px -720px;
}

.card0610 {
  background-position: -480px -800px;
}

.card0611 {
  background-position: -480px -880px;
}

.card0612 {
  background-position: -480px -960px;
}

.card0613 {
  background-position: -480px -1040px;
}

.card0614 {
  background-position: -480px -1120px;
}

.card0615 {
  background-position: -480px -1200px;
}

.card0616 {
  background-position: -480px -1280px;
}

.card0700 {
  background-position: -560px 0px;
}

.card0701 {
  background-position: -560px -80px;
}

.card0702 {
  background-position: -560px -160px;
}

.card0703 {
  background-position: -560px -240px;
}

.card0704 {
  background-position: -560px -320px;
}

.card0705 {
  background-position: -560px -400px;
}

.card0706 {
  background-position: -560px -480px;
}

.card0707 {
  background-position: -560px -560px;
}

.card0708 {
  background-position: -560px -640px;
}

.card0709 {
  background-position: -560px -720px;
}

.card0710 {
  background-position: -560px -800px;
}

.card0711 {
  background-position: -560px -880px;
}

.card0712 {
  background-position: -560px -960px;
}

.card0713 {
  background-position: -560px -1040px;
}

.card0714 {
  background-position: -560px -1120px;
}

.card0715 {
  background-position: -560px -1200px;
}

.card0716 {
  background-position: -560px -1280px;
}

.card0800 {
  background-position: -640px 0px;
}

.card0801 {
  background-position: -640px -80px;
}

.card0802 {
  background-position: -640px -160px;
}

.card0803 {
  background-position: -640px -240px;
}

.card0804 {
  background-position: -640px -320px;
}

.card0805 {
  background-position: -640px -400px;
}

.card0806 {
  background-position: -640px -480px;
}

.card0807 {
  background-position: -640px -560px;
}

.card0808 {
  background-position: -640px -640px;
}

.card0809 {
  background-position: -640px -720px;
}

.card0810 {
  background-position: -640px -800px;
}

.card0811 {
  background-position: -640px -880px;
}

.card0812 {
  background-position: -640px -960px;
}

.card0813 {
  background-position: -640px -1040px;
}

.card0814 {
  background-position: -640px -1120px;
}

.card0815 {
  background-position: -640px -1200px;
}

.card0816 {
  background-position: -640px -1280px;
}

.card0900 {
  background-position: -720px 0px;
}

.card0901 {
  background-position: -720px -80px;
}

.card0902 {
  background-position: -720px -160px;
}

.card0903 {
  background-position: -720px -240px;
}

.card0904 {
  background-position: -720px -320px;
}

.card0905 {
  background-position: -720px -400px;
}

.card0906 {
  background-position: -720px -480px;
}

.card0907 {
  background-position: -720px -560px;
}

.card0908 {
  background-position: -720px -640px;
}

.card0909 {
  background-position: -720px -720px;
}

.card0910 {
  background-position: -720px -800px;
}

.card0911 {
  background-position: -720px -880px;
}

.card0912 {
  background-position: -720px -960px;
}

.card0913 {
  background-position: -720px -1040px;
}

.card0914 {
  background-position: -720px -1120px;
}

.card0915 {
  background-position: -720px -1200px;
}

.card0916 {
  background-position: -720px -1280px;
}

.card1000 {
  background-position: -800px 0px;
}

.card1001 {
  background-position: -800px -80px;
}

.card1002 {
  background-position: -800px -160px;
}

.card1003 {
  background-position: -800px -240px;
}

.card1004 {
  background-position: -800px -320px;
}

.card1005 {
  background-position: -800px -400px;
}

.card1006 {
  background-position: -800px -480px;
}

.card1007 {
  background-position: -800px -560px;
}

.card1008 {
  background-position: -800px -640px;
}

.card1009 {
  background-position: -800px -720px;
}

.card1010 {
  background-position: -800px -800px;
}

.card1011 {
  background-position: -800px -880px;
}

.card1012 {
  background-position: -800px -960px;
}

.card1013 {
  background-position: -800px -1040px;
}

.card1014 {
  background-position: -800px -1120px;
}

.card1015 {
  background-position: -800px -1200px;
}

.card1016 {
  background-position: -800px -1280px;
}

.card1100 {
  background-position: -880px 0px;
}

.card1101 {
  background-position: -880px -80px;
}

.card1102 {
  background-position: -880px -160px;
}

.card1103 {
  background-position: -880px -240px;
}

.card1104 {
  background-position: -880px -320px;
}

.card1105 {
  background-position: -880px -400px;
}

.card1106 {
  background-position: -880px -480px;
}

.card1107 {
  background-position: -880px -560px;
}

.card1108 {
  background-position: -880px -640px;
}

.card1109 {
  background-position: -880px -720px;
}

.card1110 {
  background-position: -880px -800px;
}

.card1111 {
  background-position: -880px -880px;
}

.card1112 {
  background-position: -880px -960px;
}

.card1113 {
  background-position: -880px -1040px;
}

.card1114 {
  background-position: -880px -1120px;
}

.card1115 {
  background-position: -880px -1200px;
}

.card1116 {
  background-position: -880px -1280px;
}

.card1200 {
  background-position: -960px 0px;
}

.card1201 {
  background-position: -960px -80px;
}

.card1202 {
  background-position: -960px -160px;
}

.card1203 {
  background-position: -960px -240px;
}

.card1204 {
  background-position: -960px -320px;
}

.card1205 {
  background-position: -960px -400px;
}

.card1206 {
  background-position: -960px -480px;
}

.card1207 {
  background-position: -960px -560px;
}

.card1208 {
  background-position: -960px -640px;
}

.card1209 {
  background-position: -960px -720px;
}

.card1210 {
  background-position: -960px -800px;
}

.card1211 {
  background-position: -960px -880px;
}

.card1212 {
  background-position: -960px -960px;
}

.card1213 {
  background-position: -960px -1040px;
}

.card1214 {
  background-position: -960px -1120px;
}

.card1215 {
  background-position: -960px -1200px;
}

.card1216 {
  background-position: -960px -1280px;
}

.card1300 {
  background-position: -1040px 0px;
}

.card1301 {
  background-position: -1040px -80px;
}

.card1302 {
  background-position: -1040px -160px;
}

.card1303 {
  background-position: -1040px -240px;
}

.card1304 {
  background-position: -1040px -320px;
}

.card1305 {
  background-position: -1040px -400px;
}

.card1306 {
  background-position: -1040px -480px;
}

.card1307 {
  background-position: -1040px -560px;
}

.card1308 {
  background-position: -1040px -640px;
}

.card1309 {
  background-position: -1040px -720px;
}

.card1310 {
  background-position: -1040px -800px;
}

.card1311 {
  background-position: -1040px -880px;
}

.card1312 {
  background-position: -1040px -960px;
}

.card1313 {
  background-position: -1040px -1040px;
}

.card1314 {
  background-position: -1040px -1120px;
}

.card1315 {
  background-position: -1040px -1200px;
}

.card1316 {
  background-position: -1040px -1280px;
}

.card1400 {
  background-position: -1120px 0px;
}

.card1401 {
  background-position: -1120px -80px;
}

.card1402 {
  background-position: -1120px -160px;
}

.card1403 {
  background-position: -1120px -240px;
}

.card1404 {
  background-position: -1120px -320px;
}

.card1405 {
  background-position: -1120px -400px;
}

.card1406 {
  background-position: -1120px -480px;
}

.card1407 {
  background-position: -1120px -560px;
}

.card1408 {
  background-position: -1120px -640px;
}

.card1409 {
  background-position: -1120px -720px;
}

.card1410 {
  background-position: -1120px -800px;
}

.card1411 {
  background-position: -1120px -880px;
}

.card1412 {
  background-position: -1120px -960px;
}

.card1413 {
  background-position: -1120px -1040px;
}

.card1414 {
  background-position: -1120px -1120px;
}

.card1415 {
  background-position: -1120px -1200px;
}

.card1416 {
  background-position: -1120px -1280px;
}

.card1500 {
  background-position: -1200px 0px;
}

.card1501 {
  background-position: -1200px -80px;
}

.card1502 {
  background-position: -1200px -160px;
}

.card1503 {
  background-position: -1200px -240px;
}

.card1504 {
  background-position: -1200px -320px;
}

.card1505 {
  background-position: -1200px -400px;
}

.card1506 {
  background-position: -1200px -480px;
}

.card1507 {
  background-position: -1200px -560px;
}

.card1508 {
  background-position: -1200px -640px;
}

.card1509 {
  background-position: -1200px -720px;
}

.card1510 {
  background-position: -1200px -800px;
}

.card1511 {
  background-position: -1200px -880px;
}

.card1512 {
  background-position: -1200px -960px;
}

.card1513 {
  background-position: -1200px -1040px;
}

.card1514 {
  background-position: -1200px -1120px;
}

.card1515 {
  background-position: -1200px -1200px;
}

.card1516 {
  background-position: -1200px -1280px;
}

.card1600 {
  background-position: -1280px 0px;
}

.card1601 {
  background-position: -1280px -80px;
}

.card1602 {
  background-position: -1280px -160px;
}

.card1603 {
  background-position: -1280px -240px;
}

.card1604 {
  background-position: -1280px -320px;
}

.card1605 {
  background-position: -1280px -400px;
}

.card1606 {
  background-position: -1280px -480px;
}

.card1607 {
  background-position: -1280px -560px;
}

.card1608 {
  background-position: -1280px -640px;
}

.card1609 {
  background-position: -1280px -720px;
}

.card1610 {
  background-position: -1280px -800px;
}

.card1611 {
  background-position: -1280px -880px;
}

.card1612 {
  background-position: -1280px -960px;
}

.card1613 {
  background-position: -1280px -1040px;
}

.card1614 {
  background-position: -1280px -1120px;
}

.card1615 {
  background-position: -1280px -1200px;
}

.card1616 {
  background-position: -1280px -1280px;
}

.card1700 {
  background-position: -1360px 0px;
}

.card1701 {
  background-position: -1360px -80px;
}

.card1702 {
  background-position: -1360px -160px;
}

.card1703 {
  background-position: -1360px -240px;
}

.card1704 {
  background-position: -1360px -320px;
}

.card1705 {
  background-position: -1360px -400px;
}

.card1706 {
  background-position: -1360px -480px;
}

.card1707 {
  background-position: -1360px -560px;
}

.card1708 {
  background-position: -1360px -640px;
}

.card1709 {
  background-position: -1360px -720px;
}

.card1710 {
  background-position: -1360px -800px;
}

.card1711 {
  background-position: -1360px -880px;
}

.card1712 {
  background-position: -1360px -960px;
}

.card1713 {
  background-position: -1360px -1040px;
}

.card1714 {
  background-position: -1360px -1120px;
}

.card1715 {
  background-position: -1360px -1200px;
}

.card1716 {
  background-position: -1360px -1280px;
}

.card1800 {
  background-position: -1440px 0px;
}

.card1801 {
  background-position: -1440px -80px;
}

.card1802 {
  background-position: -1440px -160px;
}

.card1803 {
  background-position: -1440px -240px;
}

.card1804 {
  background-position: -1440px -320px;
}

.card1805 {
  background-position: -1440px -400px;
}

.card1806 {
  background-position: -1440px -480px;
}

.card1807 {
  background-position: -1440px -560px;
}

.card1808 {
  background-position: -1440px -640px;
}

.card1809 {
  background-position: -1440px -720px;
}

.card1810 {
  background-position: -1440px -800px;
}

.card1811 {
  background-position: -1440px -880px;
}

.card1812 {
  background-position: -1440px -960px;
}

.card1813 {
  background-position: -1440px -1040px;
}

.card1814 {
  background-position: -1440px -1120px;
}

.card1815 {
  background-position: -1440px -1200px;
}

.card1816 {
  background-position: -1440px -1280px;
}

.card1900 {
  background-position: -1520px 0px;
}

.card1901 {
  background-position: -1520px -80px;
}

.card1902 {
  background-position: -1520px -160px;
}

.card1903 {
  background-position: -1520px -240px;
}

.card1904 {
  background-position: -1520px -320px;
}

.card1905 {
  background-position: -1520px -400px;
}

.card1906 {
  background-position: -1520px -480px;
}

.card1907 {
  background-position: -1520px -560px;
}

.card1908 {
  background-position: -1520px -640px;
}

.card1909 {
  background-position: -1520px -720px;
}

.card1910 {
  background-position: -1520px -800px;
}

.card1911 {
  background-position: -1520px -880px;
}

.card1912 {
  background-position: -1520px -960px;
}

.card1913 {
  background-position: -1520px -1040px;
}

.card1914 {
  background-position: -1520px -1120px;
}

.card1915 {
  background-position: -1520px -1200px;
}

.card1916 {
  background-position: -1520px -1280px;
}

.card2000 {
  background-position: -1600px 0px;
}

.card2001 {
  background-position: -1600px -80px;
}

.card2002 {
  background-position: -1600px -160px;
}

.card2003 {
  background-position: -1600px -240px;
}

.card2004 {
  background-position: -1600px -320px;
}

.card2005 {
  background-position: -1600px -400px;
}

.card2006 {
  background-position: -1600px -480px;
}

.card2007 {
  background-position: -1600px -560px;
}

.card2008 {
  background-position: -1600px -640px;
}

.card2009 {
  background-position: -1600px -720px;
}

.card2010 {
  background-position: -1600px -800px;
}

.card2011 {
  background-position: -1600px -880px;
}

.card2012 {
  background-position: -1600px -960px;
}

.card2013 {
  background-position: -1600px -1040px;
}

.card2014 {
  background-position: -1600px -1120px;
}

.card2015 {
  background-position: -1600px -1200px;
}

.card2016 {
  background-position: -1600px -1280px;
}

.card2100 {
  background-position: -1680px 0px;
}

.card2101 {
  background-position: -1680px -80px;
}

.card2102 {
  background-position: -1680px -160px;
}

.card2103 {
  background-position: -1680px -240px;
}

.card2104 {
  background-position: -1680px -320px;
}

.card2105 {
  background-position: -1680px -400px;
}

.card2106 {
  background-position: -1680px -480px;
}

.card2107 {
  background-position: -1680px -560px;
}

.card2108 {
  background-position: -1680px -640px;
}

.card2109 {
  background-position: -1680px -720px;
}

.card2110 {
  background-position: -1680px -800px;
}

.card2111 {
  background-position: -1680px -880px;
}

.card2112 {
  background-position: -1680px -960px;
}

.card2113 {
  background-position: -1680px -1040px;
}

.card2114 {
  background-position: -1680px -1120px;
}

.card2115 {
  background-position: -1680px -1200px;
}

.card2116 {
  background-position: -1680px -1280px;
}

.card2200 {
  background-position: -1760px 0px;
}

.card2201 {
  background-position: -1760px -80px;
}

.card2202 {
  background-position: -1760px -160px;
}

.card2203 {
  background-position: -1760px -240px;
}

.card2204 {
  background-position: -1760px -320px;
}

.card2205 {
  background-position: -1760px -400px;
}

.card2206 {
  background-position: -1760px -480px;
}

.card2207 {
  background-position: -1760px -560px;
}

.card2208 {
  background-position: -1760px -640px;
}

.card2209 {
  background-position: -1760px -720px;
}

.card2210 {
  background-position: -1760px -800px;
}

.card2211 {
  background-position: -1760px -880px;
}

.card2212 {
  background-position: -1760px -960px;
}

.card2213 {
  background-position: -1760px -1040px;
}

.card2214 {
  background-position: -1760px -1120px;
}

.card2215 {
  background-position: -1760px -1200px;
}

.card2216 {
  background-position: -1760px -1280px;
}

.card2300 {
  background-position: -1840px 0px;
}

.card2301 {
  background-position: -1840px -80px;
}

.card2302 {
  background-position: -1840px -160px;
}

.card2303 {
  background-position: -1840px -240px;
}

.card2304 {
  background-position: -1840px -320px;
}

.card2305 {
  background-position: -1840px -400px;
}

.card2306 {
  background-position: -1840px -480px;
}

.card2307 {
  background-position: -1840px -560px;
}

.card2308 {
  background-position: -1840px -640px;
}

.card2309 {
  background-position: -1840px -720px;
}

.card2310 {
  background-position: -1840px -800px;
}

.card2311 {
  background-position: -1840px -880px;
}

.card2312 {
  background-position: -1840px -960px;
}

.card2313 {
  background-position: -1840px -1040px;
}

.card2314 {
  background-position: -1840px -1120px;
}

.card2315 {
  background-position: -1840px -1200px;
}

.card2316 {
  background-position: -1840px -1280px;
}

.card2400 {
  background-position: -1920px 0px;
}

.card2401 {
  background-position: -1920px -80px;
}

.card2402 {
  background-position: -1920px -160px;
}

.card2403 {
  background-position: -1920px -240px;
}

.card2404 {
  background-position: -1920px -320px;
}

.card2405 {
  background-position: -1920px -400px;
}

.card2406 {
  background-position: -1920px -480px;
}

.card2407 {
  background-position: -1920px -560px;
}

.card2408 {
  background-position: -1920px -640px;
}

.card2409 {
  background-position: -1920px -720px;
}

.card2410 {
  background-position: -1920px -800px;
}

.card2411 {
  background-position: -1920px -880px;
}

.card2412 {
  background-position: -1920px -960px;
}

.card2413 {
  background-position: -1920px -1040px;
}

.card2414 {
  background-position: -1920px -1120px;
}

.card2415 {
  background-position: -1920px -1200px;
}

.card2416 {
  background-position: -1920px -1280px;
}

.card2500 {
  background-position: -2000px 0px;
}

.card2501 {
  background-position: -2000px -80px;
}

.card2502 {
  background-position: -2000px -160px;
}

.card2503 {
  background-position: -2000px -240px;
}

.card2504 {
  background-position: -2000px -320px;
}

.card2505 {
  background-position: -2000px -400px;
}

.card2506 {
  background-position: -2000px -480px;
}

.card2507 {
  background-position: -2000px -560px;
}

.card2508 {
  background-position: -2000px -640px;
}

.card2509 {
  background-position: -2000px -720px;
}

.card2510 {
  background-position: -2000px -800px;
}

.card2511 {
  background-position: -2000px -880px;
}

.card2512 {
  background-position: -2000px -960px;
}

.card2513 {
  background-position: -2000px -1040px;
}

.card2514 {
  background-position: -2000px -1120px;
}

.card2515 {
  background-position: -2000px -1200px;
}

.card2516 {
  background-position: -2000px -1280px;
}

.card2600 {
  background-position: -2080px 0px;
}

.card2601 {
  background-position: -2080px -80px;
}

.card2602 {
  background-position: -2080px -160px;
}

.card2603 {
  background-position: -2080px -240px;
}

.card2604 {
  background-position: -2080px -320px;
}

.card2605 {
  background-position: -2080px -400px;
}

.card2606 {
  background-position: -2080px -480px;
}

.card2607 {
  background-position: -2080px -560px;
}

.card2608 {
  background-position: -2080px -640px;
}

.card2609 {
  background-position: -2080px -720px;
}

.card2610 {
  background-position: -2080px -800px;
}

.card2611 {
  background-position: -2080px -880px;
}

.card2612 {
  background-position: -2080px -960px;
}

.card2613 {
  background-position: -2080px -1040px;
}

.card2614 {
  background-position: -2080px -1120px;
}

.card2615 {
  background-position: -2080px -1200px;
}

.card2616 {
  background-position: -2080px -1280px;
}

.card2700 {
  background-position: -2160px 0px;
}

.card2701 {
  background-position: -2160px -80px;
}

.card2702 {
  background-position: -2160px -160px;
}

.card2703 {
  background-position: -2160px -240px;
}

.card2704 {
  background-position: -2160px -320px;
}

.card2705 {
  background-position: -2160px -400px;
}

.card2706 {
  background-position: -2160px -480px;
}

.card2707 {
  background-position: -2160px -560px;
}

.card2708 {
  background-position: -2160px -640px;
}

.card2709 {
  background-position: -2160px -720px;
}

.card2710 {
  background-position: -2160px -800px;
}

.card2711 {
  background-position: -2160px -880px;
}

.card2712 {
  background-position: -2160px -960px;
}

.card2713 {
  background-position: -2160px -1040px;
}

.card2714 {
  background-position: -2160px -1120px;
}

.card2715 {
  background-position: -2160px -1200px;
}

.card2716 {
  background-position: -2160px -1280px;
}
.hide {
  visibility: hidden;
  cursor: none;
  border: none;
}
